{% extends 'main.html.twig' %}

{% block content %}
    <br />
    <div class="row title_row">
        <div class="col-sm-2 col-md-2">
            <a href="{{ path('cart_order') }}" class="btn btn-sm btn-success" type="button">
                Order
            </a>
        </div>
        <div class="col-sm-10 col-md-10">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-striped">
                <tbody>
                {% for book in cart_paginated %}
                    <tr>
                        <td>{{ book.item.name }}</td>
                        <td>{{ book.item.price }}</td>
                        <td>{{ book.count }}</td>
                        <td>
                            <a type="button" class="btn btn-sm btn-default"
                               href="{{ path('cart_remove',{'bookId':book.item.id, 'page':app.request.query.get("page")}) }}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">
            {{ knp_pagination_render(cart_paginated) }}
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
{% endblock %}
